# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gradle/
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/dataSources.xml
.idea/dictionaries/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
order-api/build/generated/
order-api/build/tmp/
order-api/out/production/classes/generated/
order-svc/build/generated/
order-svc/build/resources/
order-svc/build/tmp/
order-svc/out/production/classes/generated/
order-svc/out/production/resources/
order-svc/src/main/resources/mapper/
upc-api/build/generated/
upc-api/build/tmp/
upc-api/out/production/classes/META-INF/
upc-api/out/production/classes/generated/
upc-api/src/main/java/com/topsail/crm/upc/modules/demo/
upc-api/src/main/java/com/topsail/crm/upc/modules/goods/
upc-svc/build/generated/
upc-svc/build/tmp/
upc-svc/out/production/classes/META-INF/
upc-svc/out/production/resources/
upc-svc/out/test/classes/META-INF/
upc-svc/out/test/classes/generated_tests/
upc-svc/out/test/resources/
upc-svc/src/main/generated/
upc-svc/src/main/java/com/topsail/crm/upc/modules/demo/
upc-svc/src/main/java/com/topsail/crm/upc/modules/goods/
upc-svc/src/main/resources/mapper/
